<div class="container mx-auto justify-center font-mono w-full flex">
  <div class="space-y-3 flex flex-col">
    <h1 class="flex items-center justify-center">Create A New Article</h1>
    <p class="flex items-center justify-center"><%= render 'form', article: @article %></p>
    <div class="flex-col flex justify-center">
      <p><%= link_to 'Show', @article %></p>
      <p><%= link_to 'Back', articles_path %></p>
    </div>
  </div>
</div>
