  <% if @article.errors.any? %>
  <div id="error_explanation", class="text-red-400 text-lg capitalize">
    <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
    <ul class="list-disc">
      <% @article.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
