<%= form_with(model: articles_controller) do |form| %>
  <% if articles_controller.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(articles_controller.errors.count, "error") %> prohibited this articles_controller from being saved:</h2>

      <ul>
        <% articles_controller.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
