/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#article_image {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  cursor: pointer;
}

label {
  cursor: pointer;
}

input[type="submit"] {
  cursor: pointer;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
  padding: 10px 16px;
  border-radius: 50px;
}

input[type="file"] {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.alert {
  cursor: pointer;
}

.notice {
  cursor: pointer;
}
