<footer class="px-4 py-6 flex items-center justify-center text-white w-full bg-teal-500 font-mono italic z-50">
  <p class="flex space-x-2">
    <p> Copyright &copy; 2020-<%= Time.now.year %>.&nbsp </p>
    <p> Made by <%= link_to 'Shiver Tech', 'https://github.com/nikoescobal/ror-capstone'%></p>
    &nbsp<%= link_to image_tag("logo-1.svg"), root_path, class:"w-3 pt-1" %>
  </p>
</footer>
