<footer class="space-y-4 p-4 flex justify-center text-white relative w-full bg-teal-500 font-mono italic">
  <p class="flex space-x-2">
    <p> Copyright &copy; 2020-<%= Time.now.year %>.&nbsp </p>
    <span> Made by <%= link_to 'Shiver Tech', 'https://shiver.tech'%></span>
    &nbsp<%= link_to image_tag("logo-1"), root_path, class:"w-3 pt-1" %>
  </p>
</footer>
